<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>条件渲染</title>
</head>

<body>
    <div id="app">
        <!-- v-if 后面接的是等号, 等号后面的内容必须是布尔值-->
        v-if 的基本用法：
        <p v-if="6<3">{{apple}}</p>
        <p v-else-if="9>6">{{pineapple}}</p>
        <p v-else>{{banana}}</p>
        <hr>
        v-if 的实例用法：对不想让其复用的标签或者元素，加入 key 即可
        需求：点击按钮，实现用户名输入框和密码输入框的切换
        <div v-if="type === 'name'">
            用户名：<input type="text" placeholder="请输入用户名" key="name">
        </div>
        <div v-else>
            密码： <input type="text" placeholder="请输入密码" key="password">
        </div>
        <button v-on:click="toggleType">点我切换</button>
        <hr>
        v-show 用法：显现与否取决于布尔值
        <hr>
        v-if 和 v-show 的比较：
        v-if ：实时渲染，即页面显示就渲染出来，页面不显示就移除掉 div。
        v-show ：其元素永远存在于页面中，只是改变了 CSS 的 display 属性
        <p v-show="9>a">我被展示出来了</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                apple: "apple",
                banana: "banana",
                pineapple: "pineapple",
                type: "name",
                a:3
            },
            methods:{
                toggleType:function(){
                    // 三目运算符
                    this.type = (this.type === 'name' ? 'password' : 'name')
                }
            }
        })
    </script>
</body>

</html>