<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        v-for 的用法：v-for 一定是写在要遍历的元素上 ，v-for 后接等号，类似于 item in items
        遍历多个对象，遍历的一定是数组<br>
        (1) 遍历多个对象： <br>
        学好 VueJS 的方法是：
        <ul>
            <li v-for="vueMth in vueMethods">{{vueMth.name}}</li>
        </ul>
        带索引的写法：括号的第一个变量，代表item，第二个代表index
        <ul>
            <li v-for="(vueMth,index) in vueMethods">{{index}}------ {{vueMth.name}}</li>
        </ul>
        <br>
        <hr>
        (2) 遍历一个对象的多个属性 <br>
        <span v-for="value in MarsContent"> {{value}}</span> <br>br 
        拿到 value,key,index 的写法 v-k-i <br>
        <div v-for="(value, key, index) in MarsContent">第{{index}}首歌的键值是：--{{key}}，--值是: {{value}}</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                // 每个对象对应一个 li, 数组
                vueMethods: [
                    { name: '多思考' },
                    { name: '多练习' },
                    { name: '听老师讲课' }
                ],
                MarsContent: {
                    song1: "虚幻与现实",
                    song2: "烟火里的尘埃",
                    song3: "不重逢"
                }
            }
        })
    </script>
</body>

</html>